{#
/**
 * @file
 * Theme override to display a UMD Terp Stat Paragraph.
 */
#}

<div class="stat">
	{% if content.field_ut_stat_image %}
		<div class="stat-image">{{ content.field_ut_stat_image }}</div>
	{% endif %}
	<div class="stat-number">{{ content.field_ut_stat_value|field_value }}</div>
	<div class="stat-text">{{ content.field_ut_stat_text|field_value }}</div>
</div>
