{#
/**
 * @file
 * Theme override to display a UMD Terp Stat Group Paragraph.
 */
#}

{%
  set classes = [
    'stat-group-bg',
    paragraph.field_ut_stat_group_style.value ? paragraph.field_ut_stat_group_style.value|clean_class,
  ]
%}

{% block paragraph %}
	<div{{attributes.addClass(classes).setAttribute('id','umd_terp_paragraph--'~paragraph.id())}}>
		{% block content %}
			{{ content.field_ut_stat_group_stats }}
			<div class="stat-group-nav">
				<button class="stat-group-nav-button stat-group-nav-prev" aria-label="View previous stat">
					<span class="sr-only">View previous stat</span>
					<span class="icon icon-chevron-right" aria-hidden="true"></span>
				</button>
				<button class="stat-group-nav-button stat-group-nav-next" aria-label="View next stat">
					<span class="sr-only">View next stat</span>
					<span class="icon icon-chevron-right" aria-hidden="true"></span>
				</button>
			</div>
		{% endblock %}
		{{ content|without('field_ut_stat_group_stats', 'field_ut_stat_group_style') }}
	</div>
{% endblock paragraph %}
