{#
/**
 * @file
 * Theme override to display a UMD Terp Button set Paragraph.
 */
#}

{%
  set classes = [
    'btn-set',
		paragraph.field_ut_button_center.value ? 'btn-set-centered',
  ]
%}

{% block paragraph %}
	<div{{attributes.addClass(classes).setAttribute('id','umd_terp_paragraph--'~paragraph.id())}}>
		{% block content %}
			{{ content.field_ut_button_set_buttons|field_value }}
		{% endblock %}
		{{ content|without('field_ut_button_set_buttons', 'field_ut_button_center') }}
	</div>
{% endblock paragraph %}
