{#
/**
 * @file
 * Theme override to display a UMD Terp Alerts Paragraph.
 */
#}

{%
  set classes = [
    'alerts',
		paragraph.field_ut_alerts_style.value ? paragraph.field_ut_alerts_style.value|clean_class : 'bg-yellow',
  ]
%}

{% block paragraph %}
	<div{{attributes.addClass(classes).setAttribute('id','umd_terp_paragraph--'~paragraph.id())}}>
		{% block content %}
			{% if content.field_ut_alerts_title|field_value %}
				<h2 class="alerts-heading">{{ content.field_ut_alerts_title|field_value }}</h2>
			{% endif %}
			{{ content.field_ut_alerts}}
		{% endblock %}
		{{ content|without('field_ut_alerts_title', 'field_ut_alerts', 'field_ut_alerts_style') }}
	</div>
{% endblock paragraph %}
