{#
/**
 * @file
 * Theme override to display a UMD Terp Divider Paragraph.
 */
#}

{%
  set classes = [
    'divider',
    paragraph.field_ut_divider_spacing.value ? paragraph.field_ut_divider_spacing.value|clean_class : 'spacing-small',
		paragraph.field_ut_divider_rule.value ? paragraph.field_ut_divider_rule.value|clean_class : 'rule-none',
  ]
%}

{% block paragraph %}
	<div{{attributes}}>
		{% block content %}
			<hr {{ attributes.addClass(classes) }} id="umd_terp_paragraph--{{ paragraph.id() }}">
			{{ content|without('field_ut_divider_spacing', 'field_ut_divider_rule') }}
		{% endblock %}
	</div>
{% endblock paragraph %}
